BOT_TOKEN=your_bot_token_here

# PostgreSQL database configuration
POSTGRES_DB='pdf_converter'
POSTGRES_USER='your_postgres_user'
POSTGRES_PASSWORD='your_postgres_password'


# Database connection settings
DB_NAME='pdf_converter'
DB_HOST='db'
DB_PORT='5432'
DB_USER='your_db_user'
DB_PASSWORD='your_db_password'

DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
